.main {
    margin-top: 7px;
    height: 100%;
    padding: 10px;
    margin-left: 10px;
}

.header {
    border: #214151 solid 4px;
    border-radius: 20px;
    padding: 15px;
}

.correspondenceWindow {
    height: 67%;
    border: #214151 solid 5px;
    border-radius: 25px;
    padding: 15px;
    margin-top: 10px;
}
