.content {
    background-color: #f6f6f6;
}

.wallpaper {
    height: 300px;
    width: 80%;
    border: #214151 solid 3px;
    margin: 20px;
}

.avatar_bio {
    display: grid;
    grid-template-areas: "a b";
    grid-template-columns: 4fr 12fr;
}
