.avatar {
    height: 150px;
    border-radius: 70px;
    border-bottom: #214151 solid 20px;
    border-right: #a2d0c1 solid 10px;
    border-top: #214151 solid 3px;
    border-left: #a2d0c1 solid 3px;
}

.main {
    padding: 10px;
}
