.wrapper {
    display: grid;
    grid-template-areas:
    "l w";
    background-color: #f8dc81;
    grid-template-columns: 3fr 8fr;
    height: 90%;
}

.list {
    grid-area: l;
}

.window {
    grid-area: w;
}
